absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
colorlog
comm
debugpy
decorator
defusedxml
executing
fastjsonschema
filelock
fqdn
frozenlist
fsspec
greenlet
grpcio
h11
httpcore
httpx
idna
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
jedi
jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
lark
lightning-utilities
mako
markdown
markupsafe
matplotlib-inline
mistune
mpmath
multidict
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
optuna
packaging
pandocfilters
parso
pillow
platformdirs
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
pure-eval
pycparser
pygments
python-dateutil
python-json-logger
pytorch-lightning
pywinpty
pyyaml
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
send2trash
setuptools
six
sniffio
soupsieve
sqlalchemy
stack-data
sympy
tensorboard
tensorboard-data-server
terminado
tinycss2
torch
torchmetrics
torchvision
tornado
tqdm
traitlets
typing-extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
werkzeug
widgetsnbextension
yarl
matplotlib